/*@import url('@/styles/leaflet.css');*/
@tailwind base;
@tailwind components;
@tailwind utilities;

@config "../../tailwind.config.js"

@layer base {
  :root {
    --background: 0, 0%, 100%;
    --foreground: 222.2, 47.4%, 11.2%;

    --muted: 210, 40%, 96.1%;
    --muted-foreground: 215.4, 16.3%, 46.9%;

    --popover: 0, 0%, 100%;
    --popover-foreground: 222.2, 47.4%, 11.2%;

    --border: 214.3, 31.8%, 91.4%;
    --input: 214.3, 31.8%, 91.4%;

    --card: 0, 0%, 100%;
    --card-foreground: 222.2, 47.4%, 11.2%;

    --primary: 222.2, 47.4%, 11.2%;
    --primary-foreground: 210, 40%, 98%;

    --secondary: 36, 42%, 85%;
    --secondary-foreground: 222.2, 47.4%, 11.2%;

    --accent: 210, 40%, 96.1%;
    --accent-foreground: 222.2, 47.4%, 11.2%;

    --destructive: 0, 100%, 50%;
    --destructive-foreground: 210, 40%, 98%;

    --attention: 250, 100%, 40%;
    --attention-foreground: 60, 40%, 90%;

    --attention-text: 16, 80%, 53%;

    --ring: 215, 20.2%, 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224, 71%, 4%;
    --foreground: 213, 31%, 91%;

    --muted: 223, 47%, 11%;
    --muted-foreground: 215.4, 16.3%, 66.9%;

    --accent: 216, 34%, 17%;
    --accent-foreground: 210, 40%, 98%;

    --popover: 224, 71%, 4%;
    --popover-foreground: 215, 20.2%, 65.1%;

    --border: 216, 34%, 17%;
    --input: 216, 34%, 17%;

    --card: 224, 71%, 4%;
    --card-foreground: 213, 31%, 91%;

    --primary: 120, 97%, 94%;
    --primary-foreground: 222.2, 47.4%, 1.2%;

    --secondary: 222.2, 47.4%, 11.2%;
    --secondary-foreground: 210, 40%, 98%;

    --destructive: 0, 63%, 51%;
    --destructive-foreground: 210, 40%, 98%;

    --attention: 250, 100%, 40%;
    --attention-foreground: 60, 40%, 90%;

    --attention-text: 173, 60%, 60%;

    --ring: 216, 34%, 47%;

    --radius: 0.5rem;

    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }

  h1, h2, h3, h4 {
    @apply leading-tight tracking-tight font-extrabold
  }

  h1 {
    @apply text-5xl md:text-8xl;
  }

  h2 {
    @apply text-3xl md:text-5xl
  }

  h3 {
    @apply text-2xl md:text-xl font-semibold tracking-tight
  }

  h4 {
    @apply text-xl md:text-2xl font-semibold
  }

  p {
    @apply mt-2 text-lg text-muted-foreground;

    max-width: 700px;
  }
}
